/GetIdleTime/bin/Debug/GetIdleTimeAPI.dll
/GetIdleTime/bin/Debug/GetIdleTimeAPI.pdb
/GetIdleTime/bin/Debug/Win32_API.dll
/GetIdleTime/bin/Debug/Win32_API.pdb
/GetIdleTime/bin/Release/GetIdleTimeAPI.dll
/GetIdleTime/obj/Debug/GetIdleTimeAPI.csproj.FileListAbsolute.txt
/GetIdleTime/obj/Debug/Refactor/Win32_API.dll
/GetIdleTime/obj/Debug/Win32_API.csproj.FileListAbsolute.txt
/GetIdleTime/obj/Debug/Win32_API.dll
/GetIdleTime/obj/Debug/Win32_API.pdb
/NetworkMonitor/bin/Debug/NetworkMonitor.dll
/NetworkMonitor/bin/Debug/NetworkMonitor.pdb
/NetworkMonitor/bin/NetworkMonitor.dll
/NetworkMonitor/bin/Release/NetworkMonitor.dll
/ShutdownScheduler/bin/Debug/GetIdleTimeAPI.dll
/ShutdownScheduler/bin/Debug/GetIdleTimeAPI.pdb
/ShutdownScheduler/bin/Debug/NetworkMonitor.dll
/ShutdownScheduler/bin/Debug/NetworkMonitor.pdb
/ShutdownScheduler/bin/Debug/ShutdownScheduler.exe
/ShutdownScheduler/bin/Debug/ShutdownScheduler.pdb
/ShutdownScheduler/bin/Debug/ShutdownScheduler.vshost.exe
/ShutdownScheduler/bin/Debug/shutdownscheduler.ini
/ShutdownScheduler/bin/Release/ShutdownScheduler.pdb
/ShutdownScheduler/bin/Release/shutdownscheduler.ini
/ShutdownScheduler/bin/Release/shutdownscheduler.log
/ShutdownScheduler/obj/Debug/ShutdownScheduler.Properties.Resources.resources
/ShutdownScheduler/obj/Debug/ShutdownScheduler.frmMain.resources
/ShutdownScheduler/obj/Release/ShutdownScheduler.Properties.Resources.resources
/ShutdownScheduler/obj/Release/ShutdownScheduler.frmMain.resources
/ShutdownScheduler/bin/Release/ShutdownScheduler.vshost.exe
/ShutdownScheduler/bin/Release/ShutdownScheduler.vshost.exe.manifest
